body {
    margin: 0%;
    font-family: "Calibri", "helvetica", sans-serif;
    color: #FFFFFF;
    width: 700px;
    background: darkgray;
    padding-top: 30;


}

header {
    text-align: center;
    font-size: 40;
}


.img {
    padding-left: 0;
    padding-top: 20;
    padding-bottom: 20;
}

article {
    text-align: center;
    font-size: 20;
}

article a {
    padding-top: 0;
    color: #FFFFFF;
    text-decoration: none;
    
}

.landing-links a:hover {
    background-color: black;    
}


table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th {
    height: 30px;
    background-color: rgb(12, 73, 94);
}

tr:hover {
    background-color: rgb(75, 112, 190);
}

.button {
    background-color: rgb(55, 142, 172);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    padding: 10 20;
}

footer {
    padding-top: 70;
    padding-left: 50;

}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    background-color: black;    


}

.techno-show a {
    font-size: 30px;
    text-decoration: underline;
}

.source-link a {
    color: rgb(21, 74, 153);
    
}

.source-link a:hover:after {
    content: "↗";
}




/*


.landing-button {
    cursor: pointer;
}

.landing-button:hover {
    background-color: transparent;
}


.header {
    background: lightgray;
    padding: 20px 30px;
    width: 600px;
    text-align: center;
    color: inherit;
}

.header-title {
    margin-top: 0;
    color: inherit;
}

article a {
    background: lightgray;
    padding: 20px 30px;
    width: 600px;
    text-align: center;
    color: inherit;
}



html {
    background-color: darkgray
}
